.container {
  position: relative;
}

.pageSwitcher { }
.pageSwitcher button {
  padding: 10px;
}
.switchPages__selected { 
  color: #a13; 
  background: #402;
  padding: 10px;
}

.users__button {
  /* height: 50px; */
  /* margin-left: 100px; */
  padding: 10px;
  margin: 10px;
  position: relative;
  
}

.blockContainer { }
.blockContainer::after {
  content: "";
  display: table;
  clear:both;
}

.block {
  border: 1px solid #09f;
  width: 300px;
  float: left;
}
.block::after {
  content: "";
  clear: both;
  display: table;
}

.block__follow { float: left; }

.block__avatar {
  width: 100px;
  height: auto;
}

.block__avatar img {
  width: 100px;
}


.block__info {
  float: left; 
  /* margin: 10px;  */
  width: auto;
  border: 2px solid #c51; 
}


.preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  background: #04a3;
}