
.item {
  color: #d33;
}

.itemGold {
  background: #cc1;
}

.avatar { 
  float: right;
  margin-right: 20px; 
}

.profileInfo::after {
  content: "";
  display: table;
  clear: both
}

.status {
  border: 2px solid #035;
  padding: 4px;
  background: #8aa;
}

.status__input {
  width: 50%;
}